{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <h1 class="text-center">Register</h1>

    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card my-5">
                <form class="card-body cardbody-color p-lg-5" action="{{ path('app_register') }}" method="post">
                    {{ form_start(form) }}
                        {{ form_row(form.firstName) }}
                        {{ form_row(form.lastName) }}
                        {{ form_row(form.userName) }}
                        {{ form_row(form.email) }}
                        {{ form_row(form.password) }}
                        <div class="text-center">
                            <button type="submit" class="btn btn-lg btn-success w-100">Register</button>
                        </div>
                    {{ form_end(form) }}
                    
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}